<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Ch07_Array/src/p02/call_by_reference/practice/Calculator.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="p02.call_by_reference.practice.Calculator"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Ch07_Array"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="33 / 55"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ch07_Array"/>
</launchConfiguration>
